<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CPresentacion.Properties.Settings.db_clinica_buena_saludConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=db_clinica_buena_salud;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>